<main class="main">
  <h1 class="article-title">
    Arlene Birt, diseñadora de la visualización climática más compartida
  </h1>
  <p class="excerpt">
    El último informe del IPCC incluye una imagen que muestra el calentamiento
    global a través de varias generaciones. La narradora visual Arlene Birt se
    encargó de llevarla a cabo: "Utiliza técnicas visuales de impacto emocional
    y humaniza los datos".
  </p>

  <div class="title-footer">
    <img
      src="assets/images/edu-robaina.jpeg"
      alt="Eduardo Robaina"
      class="title-footer__img"
    />
    <div class="title-footer__texts">
      <p class="author">Eduardo Robaina</p>
      <p class="date">12 abril, 2023</p>
    </div>
  </div>

  <figure class="img-container">
    <img
      src="assets/images/impactos-climaticos-futuros.jpg"
      alt="La visualización realizada por Arlene Birt junto a los autores del IPCC. En ella se muestra el nivel de calentamiento a través de varias generaciones."
      class="img img-color"
    />

    <figcaption class="img-caption">
      Foto: La visualización realizada por Arlene Birt junto a los autores del
      IPCC. En ella se muestra el nivel de calentamiento a través de varias
      generaciones.
    </figcaption>
  </figure>

  <p class="txt">
    Han pasado varias semanas desde que el
    <span class="txt-bold">IPCC</span> presentó el informe en el que sintetiza
    ocho años de trabajo y hay una imagen que, desde su publicación, no para de
    compartirse en redes y presentaciones. Seguro que quien lee esto sabe cuál
    es o se ha topado con ella. Se trata de una
    <span class="txt-bold">visualización</span> que muestra el calentamiento
    global a través de varias generaciones, una potente imagen de ejemplifica la
    gravedad y velocidad del cambio climático actual.
  </p>

  <p class="txt">
    La responsable de esa gráfica que ha dado la vuelta al mundo es la narradora
    visual <span class="txt-bold">Arlene Birt</span> (Nebraska, 1980). También
    es profesora y dirige su propia consultoría. Sus primeras prácticas
    laborales fueron con ONU Medio Ambiente y en el último año y medio ha tenido
    la responsabilidad enorme de traducir miles de datos y páginas científicas
    del IPCC en imágenes que puedan ser entendidas por el público general.
    Charlamos con ella para conocer en profundidad cómo ha sido el proceso de
    trabajo y la importancia de las imágenes como elemento de educación
    ambiental y motor de acción.
  </p>

  <p class="txt question">¿Cómo se llega a colaborar con el IPCC?</p>

  <p class="txt">
    Se me presentó la oportunidad a través de especialistas en investigación
    sobre comunicación climática con los que me relacioné al estudiar un
    doctorado centrado en la intersección de la visualización de la información,
    la comunicación climática y el cambio de comportamiento.
  </p>

  <p class="txt question">
    Las visualizaciones tienen el enorme poder de sintetizar muchísima
    información de forma más amena y sencilla. ¿Cómo es el proceso a la hora de
    crear una nueva narración visual, como por ejemplo las que ha hecho para el
    IPCC?
  </p>

  <p class="txt">
    Específicamente, trabajé con la Unidad de Apoyo Técnico al Informe de
    Síntesis del IPCC, un equipo que sirve de soporte a los autores y al
    proceso. Mi trabajo en este informe fue un diseño surgido de la colaboración
    intensiva con más de 60 autores, además de 195 gobiernos que aportaron
    información y aprobaron las 24 ilustraciones que desarrollamos para el
    informe.
  </p>

  <p class="txt">
    Debido a que el contenido de cada uno de los gráficos del informe debe ser
    totalmente rastreable en la información y en los datos contenidos en los
    otros seis informes del Sexto Ciclo de Evaluación del IPCC, empecé a partir
    de la información que ya estaba disponible y lo que los autores consideraron
    que sería más importante incluir.
  </p>

  <p class="txt">
    Me incorporé al Informe de Síntesis del IPCC en septiembre de 2021, poco
    antes de que se enviara el primer borrador del informe para su revisión por
    parte de gobiernos y especialistas. Después de eso, tuvimos otros dos hitos
    importantes de aportaciones gubernamentales. Cada revisión gubernamental dio
    lugar a miles de comentarios sobre las gráficas que los autores y yo tuvimos
    que tener en cuenta. Muchas de las visualizaciones fueron evolucionando a lo
    largo del proceso y pasaron por entre 20 y 30 versiones diferentes para
    aclarar más y más los mensajes, estructurar la información y garantizar la
    exactitud científica.
  </p>

  <p class="txt question">¿En cuántos gráficos del IPCC ha trabajado?</p>

  <p class="txt">
    En total, he gestionado 24 gráficos en todo el Informe de Síntesis. Otro
    diseñador, Meeyoung Ha, se incorporó hace unos ocho meses para ayudar a
    terminar el proceso.
  </p>

  <p class="txt">
    Como decía antes, toda la información tiene que estar en sintonía con el
    resto de informes del ciclo, por lo que algunas de las ilustraciones en las
    que trabajé se basaban en gráficas que se habían desarrollado en otros
    informes de este mismo ciclo. Además de sintetizar conceptos, intenté
    aportar claridad al contenido de los esquemas, diseñarlos de forma que
    contaran una narrativa a través del conjunto de gráficos del informe de
    síntesis y ayudar a los no especialistas a comprenderlos.
  </p>

  <img
    src="assets/images/impactos-climaticos-futuros.jpg"
    alt="La visualización realizada por Arlene Birt junto a los autores del IPCC. En ella se muestra el nivel de calentamiento a través de varias generaciones."
    class="img img-color"
  />

  <p class="txt question">
    Una de las visualizaciones más compartidas, ya no solo de este último
    informe sino de toda la historia del IPCC, ha sido la que muestra los
    niveles de calentamiento a través de distintas generaciones.
  </p>

  <p class="txt">
    ¡Desde luego! De todas las infografías del Informe de Síntesis, la que más
    me satisface es la de las generaciones climáticas. Es la que más se ajusta a
    mi objetivo de comunicar a los no especialistas, sobre todo porque utiliza
    técnicas visuales de impacto emocional y humaniza los datos. Se basa en las
    increíbles franjas climáticas de Ed Hawkins y, por supuesto, a los esfuerzos
    de divulgación científica de muchos otros autores.
  </p>

  <p class="txt">
    La idea de alinear generaciones surgió de un proyecto todavía en marcha que
    arrancó en 2019 –antes de que empezara a trabajar con el IPCC– y que se
    proponía comparar la esperanza de vida humana con los gráficos científicos
    sobre el clima (incluidos los del quinto informe de evaluación del IPCC). El
    objetivo es ayudarnos a los no expertos a comprender que estas proyecciones
    futuras aparentemente abstractas guardan una relación directa con nosotros y
    con nuestras familias. En mi caso, experimento una reacción emocional cuando
    veo que mi madre, mi hija y yo misma habitamos mundos muy distintos a lo
    largo de nuestras respectivas vidas.
  </p>

  <p class="txt question">
    El informe se aprobó en Suiza tras una semana de negociación entre autores y
    gobiernos. ¿Estuvo también presente?
  </p>

  <p class="txt">
    Sí, estuve toda la semana. Fue una sesión muy intensa: muchos días y muy
    largos. Incluso pasé noches en vela, ya que la negociación se alargó más de
    lo previsto.
  </p>

  <p class="txt question">
    Es sabido que los informes sufren modificaciones fruto de las negociaciones
    con los países. ¿Ocurre lo mismo con los gráficos?
  </p>

  <p class="txt">
    Las visualizaciones no cambiaron significativamente durante el proceso de
    aprobación. En una minoría de gráficos se hicieron algunas pequeñas
    modificaciones, pero únicamente para clarificarlas.
  </p>

  <img
    src="assets/images/arlene-birt.jpeg"
    alt="Retrato medio cuerpo de Arlene Birt."
    class="img"
  />

  <p class="txt question">
    ¿Alguna vez le han censurado o cambiado partes de las visualizaciones con
    las que no estaba de acuerdo?
  </p>

  <p class="txt">
    A lo largo del último año y medio, el equipo de redacción ha tomado
    decisiones para destacar aspectos específicos del contenido del informe.
    Debido a esto, algunos gráficos que estaban en desarrollo fueron descartados
    para centrar los esfuerzos en la información más crítica que debíamos
    transmitir a través de ellos. Pero esto es, por supuesto, muy diferente a la
    censura.
  </p>

  <p class="txt">
    Dado que los procesos del IPCC están totalmente ligados a la ciencia, se
    trata de una colaboración muy estrecha entre los autores-científicos y yo
    como diseñadora. Hubo ideas que tuve al principio del proceso que no
    pudieron integrarse debido a la forma en que están estructurados los datos
    científicos.
  </p>

  <p class="txt">
    Me habría encantado que algunas de las ilustraciones fueran un poco menos
    complejas de cara a la gente no especialista. Hacer las visualizaciones más
    claras puede ser un proyecto que emprenda de forma independiente en el
    futuro.
  </p>

  <p class="txt">
    Pero aparte de la accesibilidad de la comunicación, no se censuró ni se
    cambió nada relacionado con el contenido con lo que no estuviera de acuerdo.
  </p>

  <p class="txt question">
    ¿Cuántos narradores visuales han trabajado en este sexto ciclo?
  </p>

  <p class="txt">
    Han sido unos dos diseñadores por informe. Angela Morelli, de
    <a href="https://medium.com/infodesignlabposts" class="link"
      >InfoDesignLab,</a
    >
    es una talentosa e inspiradora diseñadora de información en este ámbito. Y,
    bueno, no estoy segura de cuántos de los otros diseñadores se consideran a
    sí mismos como tal «narradores visuales».
  </p>

  <p class="txt">
    En el Informe de Síntesis, además de Meeyoung Ha, ha habido muchos que han
    participado para imágenes concretas, como Ed Hawkins con sus
    <a href="https://showyourstripes.info/s/globe/" class="link">
      franjas climáticas
    </a>
    o
    <a href="https://www.linkedin.com/in/vanderwijst/" class="link"
      >Kaj-Ivar van der Wijst</a
    >
    en la generación de gráficos base a partir de modelos climáticos. Es un
    verdadero esfuerzo de colaboración.
  </p>

  <p class="txt question">
    Los informes del IPCC suelen contener un lenguaje complejo que puede alejar
    al público no experto. Una de sus metas es derribar esa barrera. ¿Cómo lo
    hace?
  </p>

  <p class="txt">
    Efectivamente, los informes del IPCC están destinados a los responsables
    políticos, y como los informes son aprobados por los expertos en clima de
    los gobiernos, al final los informes tienden a centrarse en un nivel experto
    de comprensión de la ciencia climática.
  </p>

  <p class="txt">
    He intentado ayudar al público menos experto a navegar por los gráficos
    mediante anotaciones y flechas hechas a mano. También he incorporado iconos
    en los ejes de los gráficos más comunes para ayudar a que se entienda de un
    vistazo lo que se está midiendo. Los títulos y etiquetas de todas las
    visualizaciones se negociaron cuidadosamente entre los científicos-autores y
    yo. Aunque intentamos utilizar un lenguaje no técnico en la medida de lo
    posible, en algunas ilustraciones es más fácil que en otras.
  </p>

  <p class="txt question">
    Las visualizaciones, en principio, siempre son en inglés. ¿Han pensado en
    adaptarlos a otros idiomas?
  </p>

  <p class="txt">
    Todas las gráficas estarán traducidas a los seis idiomas oficiales de la ONU
    en el informe final, lo que pasa es que es un proceso que puede llevar
    varias semanas. Los países miembros del IPCC suelen facilitar traducciones a
    otros idiomas.
  </p>

  <p class="txt question">
    En la era de la tecnología y los dispositivos móviles, las infografías son
    un valioso recurso de educación ambiental. ¿Ha notado un mayor interés por
    esta disciplina en los últimos años?
  </p>

  <p class="txt">
    Definitivamente, se está apreciando más el valor de la creatividad a la hora
    de comunicar temas complejos y técnicos. En cuanto a las infografías, aunque
    son populares desde hace tiempo, la disciplina está madurando. Cada vez se
    presta más atención a la forma en que los elementos visuales pueden hacerse
    interactivos para el público, a la forma en que la narrativa puede
    incorporarse a los elementos visuales y a la forma en que los datos pueden
    ponerse en contexto para comunicar realmente –e incluso motivar– al público.
  </p>

  <figure class="img-container">
    <img
      src="assets/images/arlene-birt-ipcc.jpeg"
      alt="Arlene Birt (tercera por la izquierda, con mascarilla) durante la sesión de aprobación del informe de síntesis en Suiza."
      class="img"
    />

    <figcaption class="img-caption">
      Arlene Birt (tercera por la izquierda, con mascarilla) durante la sesión
      de aprobación del informe de síntesis en Suiza.
    </figcaption>
  </figure>

  <p class="txt question">
    ¿Siempre le ha interesado la narrativa visual centrada en temas
    medioambientales?
  </p>

  <p class="txt">
    Sí. Aunque fue una evolución gradual durante mis estudios universitarios, la
    intersección de la narración visual con la comunicación social y
    medioambiental me apasiona desde hace muchos años. Hay mucho que seguir
    explorando sobre este tema. Entre otras cosas, cómo lo visual puede
    relacionarse con el cambio de comportamiento.
  </p>

  <p class="txt question">
    Aunque hablamos mucho del IPCC, también tiene otros muchos proyectos.
  </p>

  <p class="txt">
    Soy profesora en el Minneapolis College of Art and Design y estoy deseando
    volver a la clase que imparto de emprendimiento creativo, en la que ayudo a
    los estudiantes a entender cómo utilizar sus poderes creativos para ser
    agentes de cambio.
  </p>

  <p class="txt">
    También dirijo una consultoría llamada
    <a href="https://backgroundstories.com" class="link">Background Stories.</a>
    Estamos ocupados con un montón de proyectos de infodiseño para comunicar
    temas sociales y medioambientales complejos a públicos no especializados de
    Estados Unidos, Europa y el Reino Unido. Algunos de los proyectos actuales
    que tenemos son el Departamento de Sanidad de Minnesota, una organización
    humanitaria internacional, una organización sin ánimo de lucro dedicada a la
    política energética sostenible, una fundación internacional dedicada a la
    sostenibilidad de los productos del mar, organizaciones de agricultura
    sostenible, una empresa de construcción sostenible, un banco verde, etc.
  </p>

  <p class="txt question">
    Por último, ¿qué otros infógrafos/narradores visuales sobre cambio climático
    y biodiversidad recomendaría seguir y por qué?
  </p>

  <p class="txt">
    Angela Morelli, de InfoDesignLab, que desempeñó un papel decisivo en algunos
    de los primeros informes de este ciclo AR6.
  </p>
</main>
