<main class="main">
  <h1 class="article-title">
    Los jardines y huertos urbanos como refugio social y climático
  </h1>
  <p class="excerpt">
    Los jardines y huertos urbanos sirven de refugios climáticos durante el
    verano y tienen beneficios sociales y ecológicos durante todo el año. En
    Málaga, a pesar de las propuestas y de que todos los distritos tienen
    asignada una parcela para plantarlos, estos espacios escasean.
  </p>

  <div class="title-footer">
    <img
      src="assets/images/juanele-villanueva.jpeg"
      alt="Juanele Villanueva"
      class="title-footer__img"
    />
    <div class="title-footer__texts">
      <p class="author">Juanele Villanueva</p>
      <p class="date">13 abril, 2023</p>
    </div>
  </div>

  <figure class="img-container">
    <img
      src="assets/images/huerto-urbano.jpg"
      alt="Huerto urbano"
      class="img"
    />

    <figcaption class="img-caption">Foto: huerto urbano</figcaption>
  </figure>

  <p class="txt">
    Los termómetros ya vuelven a superar los 30 ºC. El pequeño descanso térmico
    invernal ha sido corto. La primavera meteorológica ha empezado y llevará las
    temperaturas por encima de los 40 ºC en muchos puntos del sur de España, lo
    que obligará a buscar
    <span class="txt-bold">refugios climáticos,</span> como los
    <span class="txt-bold">jardines urbanos.</span> Estos forman parte de algo
    más grande, la <span class="txt-bold">infraestructura verde</span> de la
    ciudad que, interconectada y bien gestionada, cumple funciones ecosistémicas
    para
    <a
      href="https://www.climatica.lamarea.com/barcelona-reto-ciudades-frente-crisis-climatica/"
      class="link"
      >enfrentar la ciudad a la crisis climática</a
    >.
  </p>

  <p class="txt">
    Estos jardines y huertos, que se encuentran salteados por el mapa,
    <span class="txt-bold">
      regulan la temperatura, limpian el aire, ayudan a la biodiversidad, y por
      supuesto, proveen de comida fresca.
    </span>
    <span class="txt-bold">Miguel Ángel Quesada,</span> catedrático de
    Fisiología Vegetal de la Universidad de Málaga, impulsó un proyecto de
    huerto urbano en el campus, que además tiene una función de
    <a
      href="https://www.uma.es/smart-campus/info/130591/cultiva-uma-huertosuma/"
      class="link"
      >investigación</a
    >
    y preservación de las especies menos
    <span class="txt-italic">rentables</span> comercialmente.
  </p>

  <p class="txt">
    El experto explica que, aunque históricamente han cumplido una función
    alimentaria y todavía hoy son clave en la estrategia de la ONU contra el
    hambre,
    <span class="txt-bold"
      >en España cumplen sobre todo una función social:</span
    >
    «Los huertos generan dinámicas potentes, hace que la ciudadanía no seamos
    sujetos pasivos y anónimos, sino que, además, contribuyamos a hacer las
    ciudades diferentes, planteándolas de abajo arriba y no de arriba abajo».
  </p>

  <p class="txt">
    Además, los más jóvenes van de excursión a los huertos urbanos y aprenden un
    poco más de la naturaleza y del valor de la comida. También es un lugar
    donde las familias pueden ir a hacer actividades juntas o donde los más
    mayores, que muchas veces son los que más solos están, pueden socializar y
    pasar el rato al aire libre.
  </p>

  <p class="txt">
    Sin embargo, y a pesar de los beneficios sociales y ecológicos, estos
    huertos no son proyectos fáciles de poner en marcha. Y no solo porque la
    gente que vive en la ciudad no suela tener los conocimientos necesarios para
    el cultivo de hortalizas, sino porque se necesita compromiso, constancia y
    algo de ayuda. Según Quesada, en Málaga, donde él vive, lo que falta es
    <span class="txt-bold">apoyo institucional:</span> «El Ayuntamiento no es
    especialmente proactivo en el tema de la horticultura urbana», afirma.
  </p>

  <p class="txt">
    «Lo fue puntualmente en 2015 dado el número de solares vacíos, pero en
    términos generales no apoya el uso social de los espacios porque el suelo es
    una inversión muy importante que se usa para desarrollos urbanísticos»,
    explica mientras recuerda un megaproyecto de rascacielos justamente donde un
    grupo vecinal quiere plantar un bosque urbano. Según el catedrático,
    <span class="txt-bold">
      no hay una oposición directa por parte del Ayuntamiento, pero tampoco un
      apoyo claro
    </span>
    de una Málaga que quiere ser ejemplo de ciudad sostenible en 2027.
  </p>

  <h2 class="subtitle">La lucha al desgaste por los huertos urbanos</h2>

  <p class="txt">
    Málaga opta a ser la sede de la Expo2027 bajo el lema de «ciudad
    sostenible», aunque para ello no está apoyando firmemente algo tan ecológico
    y sostenible como los huertos urbanos. Aunque hay algún jardín exitoso como
    el
    <a
      href="https://www.laopiniondemalaga.es/malaga/2021/04/26/transformar-derribo-vergel-49290781.html"
      class="link"
      >Jardín de Gamarra,</a
    >
    la mayoría tiene que pelear por cosas tan básicas como la tierra o el agua.
    Y eso a pesar de que, según una ordenanza municipal,
    <span class="txt-bold">
      todos los distritos tienen asignada una parcela para esta finalidad.
    </span>
  </p>

  <p class="txt">
    <span class="txt-bold">Isabel Herriz</span> lo intentó en Málaga-Este
    después de que viera el interés que despertaba su pequeño huerto privado:
    «De pronto, la gente se interesaba en ver qué estaba haciendo, preguntaba
    qué era y conocí a gente de la misma calle en la que vivo desde hace más de
    30 años». Animados por ello, un grupo de amigos intentó iniciar un huerto
    comunitario pero, según explican, el Ayuntamiento no se lo puso fácil, o no
    tan fácil como suele ser en
    <a
      href="https://www.thegreenbee.earth/energy/houses-shift-into-solar-energy-manchester/"
      class="link"
      >otros países europeos.</a
    >
  </p>

  <p class="txt">
    Cada vez que iban le pedían un nuevo requisito. Primero, que tuvieran un
    proyecto bien redactado; luego las fotos; luego, el apoyo de otros
    colectivos del barrio; que hicieran una lista para compararse con otros
    huertos
    <a
      href="https://open.spotify.com/episode/5Ho9oZAL79qBko9nlN5ygD"
      class="link"
      >como los de Sevilla…</a
    >
    y cumplieron todos. Hasta que sólo quedó el silencio. Dicen que el
    consistorio malagueño, en este sentido, juega al desgaste: «Creo que la
    estrategia del Ayuntamiento es que cuando no quieren hacer algo por la razón
    que sea te aburren. Conforme le íbamos respondiendo positivamente pedían
    algo más». Y se harta:
    <span class="txt-bold">
      «Como no te contestan llega un momento que te aburres y te olvidas».
    </span>
  </p>

  <p class="txt">
    En la ciudad de Málaga hay más ejemplos de huertos urbanos, unos más
    desarrollados que otros, como el citado Jardín de Gamarra, que esconde un
    paraíso verde entre bloques y asfalto, o el
    <a href="https://www.facebook.com/HuertaDignidad/?locale=es_ES" class="link"
      >huerto de La Dignidad</a
    >, donde el Ayuntamiento lleva agua de vez en cuando en bidones, una acción
    claramente insuficiente en verano.
    <span class="txt-bold">
      Los huertos urbanos son verdaderos refugios climáticos
    </span>
    con una miríada de beneficios sociales donde en el peor de los casos se
    puede tomar una limonada a la fresca en las tórridas tardes de verano.
  </p>

  <figure class="img-container">
    <img
      src="assets/images/magazine-2023.jpg"
      alt="Ya a la venta el Magazine 2023 de Climática, con más firmas y reportajes que nunca."
      class="img"
    />
  </figure>
</main>
