<main class="main">
  <h1 class="article-title">Por una acción climática sin pedir perdón</h1>
  <p class="excerpt">
    Reflexiones de Marta Peirano y Andreu Escrivà para combatir la angustia
    climática. Los escritores han hablado de la importancia la colectividad en
    un encuentro con sus lectores en la librería Finestres de Barcelona.
  </p>

  <div class="title-footer">
    <img
      src="assets/images/elisenda-pallares.jpeg"
      alt="Elisenda Pallarés"
      class="title-footer__img"
    />
    <div class="title-footer__texts">
      <p class="author">Elisenda Pallarés</p>
      <p class="date">31 marzo, 2023</p>
    </div>
  </div>

  <figure class="img-container">
    <img
      src="assets/images/andreu-escriva-i-marta-peirano.webp"
      alt="Andreu Escriva i Marta Peirano durante una charla en la librería Finestres de Barcelona"
      class="img"
    />

    <figcaption class="img-caption">
      Andreu Escriva i Marta Peirano durante una charla en la librería Finestres
      de Barcelona. Foto: Climática
    </figcaption>
  </figure>
  <p class="txt">
    Empieza el coloquio entre
    <span class="txt-bold">Marta Peirano y Andreu Escrivà</span> en la librería
    <a href="https://www.llibreriafinestres.com/" class="link"
      >Finestres de Barcelona</a
    >
    y el primer concepto que sobrevuela en la sala es la
    <span class="txt-bold">angustia climática.</span> Es evidente que somos
    responsables del gran problema de nuestro tiempo, la crisis climática, y que
    no sabemos cómo ponerle remedio dada la magnitud de la tragedia. «No coges
    aviones, ni el coche, vas en bici y comes tofu o brócoli, pero no cambia
    nada. La angustia climática se da porque asumes una parte desproporcionada
    del problema, pero a la vez no tienes una parte proporcional de la
    solución», señala Peirano. Asiente un público heterogéneo, entre el que
    destacan jóvenes que toman notas. No es muy habitual encontrar tal éxito de
    convocatoria, así que de entrada hay motivos para la esperanza.
  </p>

  <p class="txt">
    Ambos escritores han tratado de hacerse preguntas y ofrecer algunas
    respuestas en sus últimos ensayos que presiden la mesa del acto. Peirano es
    periodista especializada en la intersección entre tecnología y poder, y ha
    publicado
    <a
      href="https://www.climatica.lamarea.com/peirano-cambio-climatico-contra-futuro/"
      class="link txt-italic"
      >Contra el futuro</a
    >
    (Debate). Escrivà es doctor en Biodiversidad, divulgador y cuenta con varios
    libros sobre temas ambientales;
    <a
      href="https://www.climatica.lamarea.com/andreu-escriva-contra-sostenibilidad/"
      class="link txt-italic"
      >Contra la sostenibilidad (Arpa Editores)</a
    >
    es el último de ellos. En el caso de estos divulgadores ir a la contra es
    positivo. Ambos pretenden
    <span class="txt-bold">impulsar la acción climática. </span>
  </p>

  <p class="txt">
    «De toda esta angustia climática
    <span class="txt-bold">debe nacer también la rabia,</span> no solo la
    desesperanza. Creo que tenemos demasiados discursos actualmente que nos
    hacen abundar en la catástrofe», resalta Escrivà. El valenciano expone de
    forma muy clara cómo la palabra sostenibilidad se ha vaciado de significado
    y cómo
    <span class="txt-bold"
      >se intentan mercantilizar las posibles soluciones.</span
    >
    Peirano advierte de que presentar soluciones a los problemas que el mismo
    sistema crea es un arma recurrente del capitalismo. Por eso, ella habla de
    la necesidad de resistencia ciudadana frente al feudalismo climático. Es
    decir, que hay que ser conscientes de qué ocurre cuando empresas privadas
    implementan, por ejemplo, una <span class="txt-italic">smart city</span> y
    son ellas quienes obtienen y gestionan todos los datos que se obtienen en
    ella.
  </p>

  <p class="txt">
    La adaptación al cambio climático va a requerir muchas
    <span class="txt-bold">infraestructuras</span> y para que no acaben en manos
    de grandes empresas tecnológicas «necesitamos construirlas no de forma
    centralizada, privada, privativa y completamente capitalista, sino de manera
    colectiva, mediada, coordinada y democrática», sostiene la investigadora.
    Peirano ya abordó en
    <span class="txt-italic">El enemigo conoce el sistema</span> que las
    infraestructuras de nuestro tiempo no están diseñadas para solucionar
    nuestros problemas, sino para vigilarnos.
  </p>

  <p class="txt">
    La fortuna de escuchar a dos personas como Escrivà y Peirano es que en poco
    más de una hora se van desechando conceptos engañosos. Peirano apunta que no
    debemos dejarnos embelesar por
    <span class="txt-bold">la ilusión en una salvación tecnológica.</span> Los
    <a
      href="https://www.climatica.lamarea.com/asi-funciona-tecnologia-captura-carbono/"
      class="link"
      >sistemas de captura y almacenamiento de carbono</a
    >
    no salen rentables por ahora, ya que esas tecnologías tienen un alto coste y
    generan mucho CO2 en el proceso. Escrivà desenmascara la
    <span class="txt-bold">neutralidad climática</span> y denuncia la hipocresía
    de aquellos Estados que aseguran que serán neutrales en unos años mientras
    aumentan sus emisiones. Tampoco se escapan la transición ecológica o el
    reciclaje, que sin una disminución del consumo no pueden abarcar el reto que
    se nos plantea.
  </p>

  <p class="txt">
    Sin embargo, la conversación avanza en busca de propuestas. El
    <a
      href="https://www.climatica.lamarea.com/informe-sintesis-6-ipcc-en-detalle/"
      class="link txt-bold"
      >IPCC</a
    >
    recordó hace unos días con la publicación del informe de síntesis de su
    <a
      href="https://www.climatica.lamarea.com/tag/sexto-ciclo-de-evaluacion/"
      class="link"
      >Sexto Ciclo de Evaluación</a
    >
    que es necesario pisar el acelerador para tratar de evitar un aumento de la
    temperatura de 1,5 ºC respecto a la era preindustrial. Se necesitan
    <span class="txt-bold">medidas de mitigación,</span> frenar las emisiones de
    gases de efecto invernadero y abandonar los combustibles fósiles. Pero no
    solo eso, Escrivà destaca que no conviene caer en la
    <a
      href="https://elpais.com/espana/comunidad-valenciana/2022-10-01/un-deslumbrante-tunel-de-carbono.html"
      class="link"
    >
      visión del túnel de carbono
    </a>
    (esto es, analizar la realidad únicamente a través de las emisiones de gases
    de efecto invernadero).
  </p>

  <p class="txt">
    Y se precisan <span class="txt-bold">medidas de adaptación</span> frente a
    los efectos que ya no se pueden evitar. Los ponentes aclaran que
    experimentamos un decalaje y que ahora vivimos las consecuencias de aquello
    que se hizo en los años 80. Por eso, el calentamiento global seguirá
    incrementándose durante un tiempo se haga lo que se haga ahora. Hay que
    tener una visión a largo plazo y actuar ya para hacer viable nuestra vida –y
    la de multitud de especies con las que coexistimos y de las que dependemos–
    en el futuro.
  </p>

  <p class="txt">
    Frente a problemas estructurales del modelo productivo que ha causado este
    desastre, ambos especialistas señalan que
    <span class="txt-bold"> se necesitan restricciones al crecimiento </span> de
    un capitalismo que «tiende a degradar nuestro bienestar». Para subir los
    ánimos, relatan algunos ejemplos exitosos de
    <span class="txt-bold">resistencia ciudadana.</span> Una que le gusta
    especialmente a Escrivà es la de su ciudad, Valencia, donde la lucha
    colectiva paró la urbanización del jardín principal del río Turia durante la
    dictadura franquista. Una protesta vecinal también paralizó la urbanización
    de la Albufera. Los valencianos ganaron un paseo de 8 kilómetros de largo y
    un parque natural frente a la mercantilización de la ciudad. Peirano presume
    de los espacios verdes que se han ganado alrededor del Manzanares en Madrid.
    Además, también cuenta en su libro cómo consiguieron en Ciudad del Cabo
    hacer una gestión colectiva del agua para reducir su consumo y desperdicio y
    evitar así las restricciones hídricas. Es una experiencia que se podría
    replicar en otras ciudades.
  </p>

  <p class="txt">
    Los más jóvenes lanzan las preguntas más oportunas. La escasez de agua, los
    incendios forestales o la gestión del tiempo protagonizan algunas de sus
    inquietudes. Para adaptarnos al cambio climático
    <span class="txt-bold">
      se requiere más
      <a
        href="https://www.climatica.lamarea.com/crisis-agua-informe-comision-mundial/"
        class="link"
        >agua en un contexto donde su disponibilidad es menor.</a
      >
    </span>
    El ambientalista expone que es necesario dejar de producir como se viene
    haciendo y el problema que suponen, por ejemplo, las
    <a
      href="https://www.climatica.lamarea.com/bancos-financiacion-macrogranjas-espana/"
      class="link"
      >macrogranjas.</a
    >
    En Catalunya hay más cerdos que personas. Unas macrogranjas, recuerda
    Peirano, que además contaminan el agua. La periodista exige más eficiencia.
    «Hay que tener en cuenta el agua que se pierde por las fugas. Si gestiona el
    agua una sola entidad, como suele ocurrir, esta no tiene incentivos para
    mantener las infraestructuras».
  </p>

  <p class="txt">
    <span class="txt-bold"
      >«Lo peor que se puede hacer es pensar que no se puede hacer nada.</span
    >
    Eso es desligarte de sus semejantes y su salud», afirma Peirano. Los
    ponentes se preguntan también cómo podemos permitir los altos niveles de
    contaminación atmosférica en las ciudades,
    <a
      href="https://www.climatica.lamarea.com/no-no-todo-es-cambio-climatico-contaminacion-atmosferica/"
      class="link"
    >
      un problema distinto al cambio climático
    </a>
    pero que es responsable de
    <a
      href="https://www.climatica.lamarea.com/el-mundo-respira-contaminacion-atmosferica/"
      class="link"
      >tantas muertes cada año.</a
    >
    ¿Qué se puede hacer? Mucho: carriles bici, aumentar el transporte público,
    prohibir los vehículos contaminantes, la jornada laboral de cuatro días,
    proteger los ecosistemas, aprovechar el conocimiento indígena para ello,
    reducir el consumo y un largo etcétera que detalla el
    <a
      href="https://www.climatica.lamarea.com/ipcc-pasos-combatir-cambio-climatico/"
      class="link"
    >
      panel de especialistas del IPCC.
    </a>
  </p>

  <p class="txt">
    Aquí topamos con otra arma del capitalismo, el nihilismo. «Hay soluciones de
    las que el capitalismo se burla. Dicen cómo va a ser la solución hacer
    carriles bici…», ejemplifica Peirano. Escrivà opina que hay que
    <span class="txt-bold">
      implementar la acción climática sin complejos,
    </span>
    sin «pedir perdón». Tampoco lo han pedido quienes han traído competiciones
    como la Fórmula 1 o construido aeropuertos deficitarios en nuestros
    territorios. Es hora de probar aquello todo aquello que pueda funcionar en
    distintos ámbitos como urbanismo, industria o construcción.
  </p>

  <p class="txt">
    Parece que la jornada acaba cuando una última intervención, una de esas que
    es más una reflexión que una pregunta, prende más mecha. Un asistente
    plantea si no es necesaria más corresponsabilidad de la ciudadanía, si no es
    hipócrita pedir medidas a las empresas o gobiernos cuando se sigue comprando
    <span class="txt-italic">fast fashion,</span> vuelos
    <span class="txt-italic">low cost</span> y otros anglicismos. Es evidente
    que todo ciudadano puede y debe tomar mejores decisiones. Todo suma. Pero,
    para combatir la ecoansiedad con la que empezábamos y no dejarnos llevar por
    la inacción, son fundamentales las
    <span class="txt-bold">acciones colectivas</span> más que las individuales.
  </p>

  <p class="txt">
    Escrivà concluye que es necesaria más educación ambiental en nuestro país
    para mejorar fomentar esas iniciativas. El IPCC también apunta que solo una
    sociedad mejor informada podrá tomar mejores decisiones. Peirano en este
    punto pide frenar la desinformación, la culpa no debe recaer en nosotros.
    Recuerda que el concepto huella de carbono fue acuñado por la petrolera BP
    para pasarnos la pelota. El mejor antídoto, insiste, es
    <span class="txt-bold"> volver a relacionarnos con nuestros vecinos,</span>
    organizarnos y reclamar que quien tiene en su mano atajar esta crisis se
    ponga a ello. El aplauso final recuerda a lo que suele decir el periodista
    Quique Peinado:
    <span class="txt-bold">
      la rabia (climática) <span class="txt-italic">pa’arriba.</span>
    </span>
  </p>
</main>
