<main class="main">
  <h1 class="article-title">
    El calendario marca abril, los termómetros julio: hasta 40 ºC en algunas
    zonas de España
  </h1>
  <p class="excerpt">
    La AEMET prevé que el episodio de calor de esta semana sea el más intenso
    que ha vivido el país en un mes de abril. La sequía del territorio, además,
    eleva el riesgo de incendios en la mayor parte de la Península.
  </p>

  <div class="title-footer">
    <img
      src="assets/images/aida-cuenca.jpeg"
      alt="Aida Cuenca"
      class="title-footer__img"
    />
    <div class="title-footer__texts">
      <p class="author">Aida Cuenca</p>
      <p class="date">25 abril, 2023</p>
    </div>
  </div>

  <figure class="img-container">
    <img
      src="assets/images/mujer-abanicandose.jpeg"
      alt="Mujer abanicándose"
      class="img"
    />

    <figcaption class="img-caption">Foto: Reuters</figcaption>
  </figure>

  <p class="txt">
    Esta semana España podría experimentar
    <span class="txt-bold">
      temperaturas excepcionalmente altas
      <span class="txt-italic">para ser el mes de abril.</span>
    </span>
    Es esta parte de la oración la que es de extrañar: que en plena primavera
    los termómetros marquen un calor más propio de los meses de verano. Algo que
    se debe,
    <a
      href="https://www.aemet.es/documentos_d/enportada/20230424111257_p53tesp1.pdf"
      class="link"
      >según la Agencia Estatal de Meteorología</a
    >
    (AEMET) a «la entrada progresiva de una masa de aire muy cálido y seco, de
    origen africano» que, «junto con las condiciones de estabilidad atmosférica
    y fuerte insolación, provocarán un progresivo y marcado ascenso de las
    temperaturas».
  </p>

  <p class="txt">
    Así, el mapa de la Península se tiñe de rojo durante los próximos días: más
    de 30 ºC en varias zonas durante jueves y viernes e incluso 40 ºC en el
    Guadalquivir. «Con las temperaturas que se esperan, es bastante probable que
    <span class="txt-bold"
      >se batan muchos récords de temperaturas para el mes de abril</span
    >
    y que seguramente este episodio sea
    <span class="txt-bold">
      el más intenso que se ha vivido en España en un mes de abril»,
    </span>
    explica <span class="txt-bold">Rubén del Campo,</span> portavoz de la AEMET.
    «Estas temperaturas desde luego no son normales para estas fechas».
  </p>

  <p class="txt">
    La de esta semana no solo será una simple masa de aire abrasadora por un
    cielo despejado y un sol que brilla con más intensidad; hay más detrás de
    eso. Sin un estudio de atribución, el experto no se aventura a afirmar que
    este episodio de calor sea consecuencia del cambio climático. Sin embargo,
    explica que «este se manifiesta principalmente en un aumento de las
    temperaturas medias. Cuando esta media sube, el que se produzcan récords
    relacionados con el calor es mucho más probable. Lo que estamos observando
    es que
    <span class="txt-bold">
      estos episodios de altas temperaturas son ahora más probables, más
      intensos y aparecen más temprano que hace unas décadas».
    </span>
  </p>

  <p class="txt">
    Para el mes de abril, la AEMET señala que la temperatura media normal de
    esta semana suele estar entorno a los 13 ºC aproximadamente. Pero, en el
    pico de este episodio cálido, que tendrá lugar el jueves y viernes, la
    temperatura podrá estar
    <span class="txt-bold"
      >de 8 a 10 ºC por encima del valor medio normal.</span
    >
  </p>

  <figure class="img-container">
    <img
      src="assets/images/anomalia-temperatura-maxima-abril-2023.png"
      alt="Mapa cromático de España que muestra las anomalías de la temperatura máxima (ºC) previstas para el viernes 28 de abril de 2023 respecto al periodo 1991-2020. "
      class="img img-color"
    />

    <figcaption class="img-caption">
      Anomalía de la temperatura máxima (ºC) prevista para el viernes 28 de
      abril de 2023 respecto al periodo 1991-2020. <br />
      Fuente: AEMET. Autor: César Rodríguez Ballesteros.
    </figcaption>
  </figure>

  <h2 class="subtitle">¿Primera ola de calor de 2023?</h2>

  <p class="txt">
    ¿Se trata, entonces, de una ola de calor en plena primavera? Del Campo
    explica que, en términos estrictos, no. «Para hablar de olas de calor y
    distinguirlas de los episodios cálidos, en AEMET seguimos tres criterios:
    tendría que acontecer durante tres días consecutivos; suceder en al menos el
    10% del territorio de España; y las temperaturas máximas tendrían que estar
    entre el 5% de las más altas que habitualmente se alcanzan en julio y
    agosto. Eso no va a suceder en esta ocasión, aunque va a ser un episodio muy
    extremo para la época». El meteorólogo alerta, aun así, de que, desde 2011,
    <span class="txt-bold"
      >las olas de calor son el doble de frecuentes en España</span
    >
    en comparación con décadas pasadas.
  </p>

  <p class="txt">
    Como recuerda el World Weather Attribution (WWA), equipo especializada en
    estudios de atribución, actualmente
    <span class="txt-bold">
      toda ola de calor es ahora más fuerte y/o común debido al cambio climático
    </span>
    provocado por las actividades humanas:
    <span class="txt-bold">
      «Las temperaturas antes consideradas extremas ahora son poco frecuentes, y
      las que antes eran prácticamente imposibles son la nueva definición de
      extremas«,
    </span>
    <a
      href="https://www.climatica.lamarea.com/eventos-extremos-cambio-climatico/"
      class="link"
      >apuntan.</a
    >
  </p>

  <p class="txt">
    No es solo la generalización de este calor sin precedentes, sino las
    probabilidades de que episodios así sucedan año tras año a medida que
    aumenta el calentamiento global.
    <span class="txt-bold">Dominic Royé,</span> doctor en Geografía Física e
    Investigador en Clima y Salud medioambiental en la Fundación para la
    Investigación del Clima (FIC), compartió el viernes pasado a través de sus
    redes sociales unos gráficos donde se muestran los promedios de los futuros
    extremos de las máximas en abril para mediados y finales de siglo. Desde el
    promedio histórico hacia ese periodo, todas las ciudades analizadas verían
    sus temperaturas aumentar más de 3 ºC y hasta los 6ºC.
  </p>

  <figure class="img-container">
    <img
      src="assets/images/futuros-extremos.jpeg"
      alt="Gráfico de los promedios de los futuros extremos de las máximas en abril para mediados y finales de siglo."
      class="img"
    />

    <figcaption class="img-caption">
      Gráfico de los promedios de los futuros extremos de las máximas en abril
      para mediados y finales de siglo. <br />
      Fuente: NASA/GDDP-CMIP6. Autor: Domic Royé.
    </figcaption>
  </figure>

  <p class="txt">
    Aunque esta semana no se categorice como una ola de calor –por lo que muchas
    especialistas piden revisar el umbral que determina qué lo es–, «la masa de
    aire cálido que va a sobrevolar España es seguramente la más cálida que ha
    sobrevolado el país en abril en los últimos 43 años. Y, analizando las
    predicciones para los próximos días y comparándolas con datos históricos,
    probablemente entre el 25 y 30 de abril sucedan
    <span class="txt-bold">
      los días más cálidos para estas mismas fechas desde al menos 1950 </span
    >. Si las predicciones se cumplen, se tratará de
    <span class="txt-bold"
      >uno de los episodios más intensos de calor vividos en abril»,</span
    >
    asegura del Campo.
  </p>

  <h2 class="subtitle">Alta probabilidad de incendios</h2>

  <p class="txt">
    Las precipitaciones no han llegado a los niveles medios de un mes de abril,
    el valor medio nacional desde el pasado 1 de octubre de 2022 hasta el 18 de
    abril de 2023 se cifra en 337 mm, lo que representa alrededor de un 23%
    menos. La
    <a
      href="https://www.climatica.lamarea.com/mesa-nacional-de-la-sequia-regadio/"
      class="link"
      >sequía</a
    >
    que está arrastrando el país supone también una
    <span class="txt-bold">
      probabilidad más alta de
      <a
        href="https://www.climatica.lamarea.com/incendio-forestal-fuera-temporada/"
        class="link"
        >incendios.</a
      >
    </span>
    Según las previsiones de la Agencia, a partir del miércoles, el riesgo va a
    ser muy alto o extremo en la mayor parte de la Península porque, además de
    las altas temperaturas y la baja humedad, la falta de precipitaciones
    provoca una mayor materia vegetal seca.
  </p>

  <p class="txt">
    Otro factor que preocupa es el
    <span class="txt-bold">aumento de climas áridos en España.</span> Se conoce
    como clima árido aquel en el que, a lo largo del año, la evaporación que se
    produce supera la precipitación y, por tanto, la disponibilidad de recursos
    hídricos es menor para los ecosistemas y para los cultivos. Este tipo de
    ambiente <span class="txt-bold">«se ha duplicado en extensión</span> en
    España desde los años 50: ha pasado de un 6,5% de superficie a un 13%
    aproximadamente. Es más, se siguen extendiendo y se estima que una extensión
    equivalente a la provincia de Málaga se convierte en árida en España
    alrededor de cada cinco años».
  </p>

  <figure class="img-container">
    <img
      src="assets/images/riesgo-incendio-abril-2023.png"
      alt="Mapa cromático con el riesgo de incendio en España para el viernes 28 de abril de 2023."
      class="img img-color"
    />

    <figcaption class="img-caption">Fuente: AEMET.</figcaption>
  </figure>

  <p class="txt">
    España no es la única que experimenta mayores temperaturas. La semana pasada
    <a
      href="https://www.climatica.lamarea.com/europa-registro-record-sequia-2022/"
      class="link"
      >contábamos en <span class="txt-italic">Climática</span></a
    >
    el último informe anual del Servicio de Cambio Climático de Copernicus, en
    el que se sitúa a Europa como el continente que más rápido se calienta. Solo
    en 2022, el territorio registró
    <span class="txt-bold">temperaturas el doble de la media mundial.</span>
  </p>

  <p class="txt">
    El
    <a
      href="https://interactive.carbonbrief.org/half-global-population-saw-all-time-record-temperatures-over-past-decade/"
      class="link"
      >nuevo análisis</a
    >
    de <span class="txt-italic">CarbonBrief,</span> por su parte, muestra que la
    cantidad de personas que experimentan eventos de calor alto de todos los
    tiempos ha aumentado drásticamente en las últimas tres décadas. Solo en
    2022, aproximadamente
    <span class="txt-bold">
      380 millones de personas experimentaron la temperatura horaria más alta
      jamás registrada.
    </span>
    El 4% de la superficie del planeta registró temperaturas récord.
  </p>

  <figure class="img-container">
    <img
      src="assets/images/magazine-2023.jpg"
      alt="Ya a la venta el Magazine 2023 de Climática, con más firmas y reportajes que nunca."
      class="img"
    />
  </figure>
</main>
