<main class="main">
  <h1 class="article-title">El verdadero camino de la economía circular</h1>
  <p class="excerpt">
    Los avances en reciclaje y materiales están muy lejos de alcanzar lo que se
    pretende con la economía circular. Pero, en la naturaleza, esta visión lleva
    millones de años existiendo: nada se desperdicia y los recursos se mueven a
    través de una cadena optimizada y eficiente.
  </p>

  <div class="title-footer">
    <img
      src="assets/images/juan-f-samaniego.jpg"
      alt="Juan F. Samaniego"
      class="title-footer__img"
    />
    <div class="title-footer__texts">
      <p class="author">Juan F. Samaniego</p>
      <p class="date">30 marzo, 2023</p>
    </div>
  </div>

  <figure class="img-container">
    <img
      src="assets/images/ciclo-nutrientes.jpg"
      alt="Ciclo de los nutrientes. Plano detalle de un escarabajo sobre una pelota de tierra."
      class="img"
    />

    <figcaption class="img-caption">Foto: Yassine Khalfalli.</figcaption>
  </figure>

  <p class="txt">
    En el futuro no habrá desperdicios, solo materiales que vuelven una y otra
    vez a la vida en un ciclo infinito. Seguiremos consumiendo tanto como
    queramos, porque seremos tan eficientes en el reciclaje de recursos que no
    tendremos que seguir sacándolos de la Tierra. Podríamos seguir enumerando
    <span class="txt-bold">las promesas de la economía circular</span> durante
    varios párrafos, con el riesgo de entrar en bucle. Lo cierto es que esta
    visión económica tiene mucho de grandes promesas y buenos eslóganes, pero a
    la hora de aterrizar en el mundo real sus éxitos son más bien escasos.
  </p>

  <p class="txt">
    Las definiciones de la economía circular se multiplican en la red.
    <span class="txt-bold"> Repsol, BBVA, Iberdrola, Ecoembes </span> y un largo
    listado de grandes empresas, fundaciones privadas y agencias gubernamentales
    han hecho suyo el término con un único objetivo:
    <span class="txt-bold"
      >que todo cambie para que, en el fondo, nada cambie.</span
    >
    Y es que cuando se buscan datos concretos de los avances de la circularidad,
    las promesas se diluyen. No es que el reciclaje no funcione ni que no se
    haya mejorado en el uso eficiente de materiales, pero los avances están muy
    lejos de alcanzar lo que se pretende.
  </p>

  <p class="txt">
    Un análisis del
    <a
      href="https://www.wri.org/insights/heres-what-could-go-wrong-circular-economy-and-how-keep-it-track"
      class="link"
      >World Resources Institute</a
    >
    señala que la industria prefiere, en general, utilizar materiales vírgenes y
    no reciclados, que es
    <span class="txt-bold">
      imposible reducir a cero los residuos y ser totalmente circulares
    </span>
    (porque en el proceso de reciclaje siempre hay que añadir nuevos recursos,
    como agua o energía fósil) y que el impacto del consumo seguirá aumentando
    mientras este siga creciendo. Es decir, si continuamos produciendo moda o
    tecnología de usar y tirar, el impacto ambiental y social del consumo
    seguirá siendo altísimo, por muy circulares que seamos.
  </p>

  <p class="txt">
    Pero esto no es lo que nos trae aquí, porque
    <span class="txt-bold"> la economía circular sí que existe. </span> Solo que
    no la hemos inventado los humanos: lleva millones de años cambiando y
    evolucionando a nuestro alrededor. En la naturaleza, nada se desperdicia y
    los recursos se mueven a través de una cadena optimizada y eficiente de
    verdad. Quizá sea hora de asumir que el planeta nos lleva demasiada ventaja
    a la hora de hacer un uso sostenible de los recursos.
  </p>

  <h2 class="subtitle">Donde todo empieza (y acaba)</h2>

  <p class="txt">
    La sabana africana es una protagonista habitual de los documentales. Las
    llanuras de Kenia y Tanzania siguen siendo ese lugar relativamente
    inalterado donde sobreviven los últimos ejemplares de la megafauna que una
    vez dominó el planeta. Allí, como nos enseñóEl rey león,
    <span class="txt-italic">El rey león,</span> la vida sigue un ciclo sin fin
    que se reinicia, una y otra vez, con cada temporada de lluvias, con cada
    gran migración y con cada cacería.
  </p>

  <p class="txt">
    Cuando las leonas atrapan un antílope, por ejemplo, los primeros en comer
    son los miembros de su manada. Después, poco a poco, empiezan a llegar otros
    comensales. Los carroñeros como las hienas o los buitres compiten por los
    restos de carne, pero hay un ejército de seres que también se pone las
    botas.Las bacterias van descomponiendo los tejidos y
    <span class="txt-bold"
      >Las bacterias van descomponiendo los tejidos y

      <a
        href="https://theconversation.com/life-after-death-how-insects-rise-from-the-dead-and-transform-corpses-into-skeletons-148847"
        class="link"
        >los insectos invaden el cadáver</a
      ></span
    >
    en busca de un lugar donde depositar sus huevos y en el que sus larvas
    puedan alimentarse.
  </p>

  <p class="txt">
    Cada especie está especializada en una fase de la descomposición. Algunos,
    como los escarabajos derméstidos, son capaces de alimentarse de cualquier
    resto de piel o pelo, dejando solamente el esqueleto. Los huesos se
    descomponen más lentamente, con la ayuda de hongos y bacterias, y los
    componentes que no sirven de alimento a nadie acaban reaccionando con los
    ácidos del ambiente y
    <span class="txt-bold">pasan a formar parte del suelo.</span> Allí, vuelven
    a ser consumidos por los seres que viven en él, incluyendo las plantas de
    las que volverá a alimentarse en algún momento otro antílope.
  </p>

  <p class="txt">
    Pero este no es el único camino por el que podemos seguir el ciclo de
    nutrientes. El antílope se alimenta de gran cantidad de materia vegetal,
    pero no la aprovecha toda. Su organismo desecha una parte importante en
    forma de heces,y en la naturaleza nada se desperdicia.
    <span class="txt-bold">y en la naturaleza nada se desperdicia.</span> «Los
    escarabajos peloteros son uno de los mejores ejemplos de recicladores de
    nutrientes. El estiércol de los animales más grandes tiene un valor
    nutricional relativamente pequeño para la mayoría de las criaturas, pero no
    para ellos», explica
    <a
      href="https://www.dal.ca/faculty/agriculture/plant-food-env/faculty-staff/our-faculty/paul-manning.html"
      class="link"
      >Paul Manning,</a
    >
    profesor del departamento de plantas, alimentación y medioambiente de la
    Universidad de Dalhousie, en Canadá.
  </p>

  <p class="txt">
    «Estos escarabajos coprófagos usan su aparato bucal para alimentarse del
    componente líquido rico en microbios del estiércol. Y sus larvas se
    alimentan del material vegetal no digerido en las heces, que es
    principalmente celulosa. Juntas, la actividad de alimentación de las larvas
    y los escarabajos adultos eliminan los desechos animales del medio ambiente,
    al mismo tiempo que
    <span class="txt-bold">convierten un alimento de baja calidad,</span> los
    desechos, en un alimento de alta calidad, biomasa en forma de nuevos
    insectos que está llena de proteínas, energía y grasas para otros animales»,
    añade el investigador.
  </p>

  <h2 class="subtitle">La circularidad real de los nutrientes</h2>

  <p class="txt">
    La descomposición es la pieza central del
    <a
      href="https://www.eea.europa.eu/es/senales/senales-2019/infografia/ciclo-de-nutrientes-de-la-naturaleza/view"
      class="link"
      >ciclo de nutrientes</a
    >, pero no es la única. En él intervienen también los ciclos biogeoquímicos,
    a través de los que
    <span class="txt-bold"
      >la parte inerte y la parte viva del planeta se relacionan</span
    >
    para intercambiar compuestos de carbono, nitrógeno o fósforo. Algunos seres
    vivos, como las plantas y las bacterias, son capaces de fijar esos
    nutrientes inorgánicos del entorno. Otros se encargan de descomponer los
    compuestos orgánicos en piezas diminutas que puedan ser aprovechadas por los
    demás. Y otros están en el medio, alimentándose y manteniendo el ciclo
    infinito en marcha.
  </p>

  <p class="txt">
    Esta red compleja de interacciones circulares ha ido extendiéndose a través
    del planeta con el objetivo de optimizar el uso de los recursos finitos
    gracias al aporte de energía del único recurso «infinito» que hay en la
    Tierra: la luz solar. Millones de años de evolución han producido
    <span class="txt-bold">
      un sistema en equilibrio en el que nada se pierde.
    </span>
    O nada se perdía hasta que los seres humanos empezamos a aumentar las
    tensiones del sistema y convertimos la circunferencia en línea recta.
  </p>

  <p class="txt">
    «Los humanos modificamos el ciclo natural de los nutrientes de muchas
    formas, pero la más importante es mediante los procesos químicos que
    <span class="txt-bold"
      >introducen grandes cantidades de nutrientes reactivos</span
    >
    en el medioambiente», señala Paul Manning. «El mejor ejemplo es
    probablemente la conversión de gas de nitrógeno no reactivo de la atmósfera
    en fertilizantes a base de amoníaco. El mal uso de los fertilizantes
    nitrogenados puede causar problemas muy serios en los ecosistemas acuáticos
    al generar floraciones de algas que en última instancia causan zonas muertas
    pobres en oxígeno, mientras que en otros casos genera emisiones de óxido
    nitroso, un potente gas de efecto invernadero».
  </p>

  <p class="txt">
    El aumento de la erosión en algunas zonas agrícolas (que arrastra los
    nutrientes lejos de los campos hacia ríos y océanos), la eliminación de los
    procesos mediante los que los herbívoros abonan el mismo terreno en el que
    se alimentan o
    <span class="txt-bold">el uso intensivo de pesticidas</span> y la
    contaminación que acaba con muchas de las especies de recicladores naturales
    interrumpen también el ciclo de los nutrientes.
    <a
      href="https://sswm.info/arctic-wash/module-2-environment-pollution-levels-implications/further-resources-environment-and/the-nutrient-cycle"
      class="link"
      >interrumpen también el ciclo de los nutrientes.</a
    >
    Todo esto, a su vez, afecta a nuestras propias actividades, mucho más
    conectadas con los ciclos naturales de lo que a veces creemos.
  </p>

  <p class="txt">
    «Estamos en medio de una crisis de biodiversidad. A medida que las
    actividades humanas impactan de forma negativa en la biosfera, algunas
    especies pagan el precio. Dado que la abundancia y la diversidad de los
    organismos que sostienen el ciclo de nutrientes se está viendo afectada, es
    probable que se reduzca la capacidad de los sistemas naturales de
    proporcionar las funciones esenciales de las que todos dependemos», concluye
    el investigador canadiense.
    <span class="txt-bold">
      Mientras buscamos reinventar la circularidad, seguimos abriendo una brecha
      en los ciclos que sostienen la vida en el planeta.
    </span>
  </p>

  <figure class="img-container">
    <img
      src="assets/images/magazine-2023.jpg"
      alt="Ya a la venta el Magazine 2023 de Climática, con más firmas y reportajes que nunca."
      class="img"
    />
  </figure>
</main>
